.container {
  width: 300px; /* ширина контейнера */
  margin: 0 auto; /* внешний отступ по вертикали | по горизонтали */
  padding: 20px; /* внутренний отступ. Применяется ко всем четырём сторонам */
  background-color: #f2f2f2; /* цвет фона контейнера */
  border-radius: 5px; /* скругление границ контейнера */
}

h1 {
  text-align: center; /* Установка заголовка по центру */
}

form {
  /* Свойство flex-direction устанавливает направление главной и 
  поперечной оси или, говоря другими словами, расставляет элементы в ряд или в колонку. */
  display: flex; /* превращаем блок во флекс-контейнер */
  flex-direction: column; /* Главная ось направлена сверху вниз. Порядок - сверху вниз */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px; /* внутренний отступ. Применяется ко всем четырём сторонам */
  margin-bottom: 15px; /* Внешний отступ внизу элемента */
  border-radius: 5px; /* скругление границ контейнера */
  border: 1px solid #ccc; /* создание рамки */
}

input[type="submit"] {
  padding: 10px; /* внутренний отступ. Применяется ко всем четырём сторонам */
  background-color: #4CAF50; /* цвет фона кнопки */
  color: white; /* цвет текста */
  border: none; /* убираем рамку */
  border-radius: 4px; /* скругление границ контейнера */
  cursor: pointer; /* установка формы курсора */
}

input[type="submit"]:hover {
  background-color: #45a049; /* смена цвета фона при наведении */

}